/* ---------------------- Home -------------------------*/

.presentation 
{
	max-width: 910px;
	margin: auto;
}

#excerptTitle
{
	max-width: 910px;
	margin:auto;
	margin-top:80px;
	margin-bottom:10px;
}

#excerpt 
{	
	max-width: 820px;
	margin: auto;
	font-style:italic;
	margin-bottom: 50px;
	font-size: 15px;
	line-height: 1.5;
}

#link-presentation {
	text-align: center;
	font-size: 2.3rem;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/* ---------------------- Comments ------------------------*/

.box-comment {
	background: rgba(220, 220, 220, 0.25);
	border: 2px solid;
    border-color: #eeeeee;
    padding: 1rem 1.5rem 0 1.5rem;
    margin-bottom:2rem;
}

.reported {
	font-weight: bold;
	text-align: center;
}

#reported-button {
	margin-top: 2rem;
	margin-bottom: 1rem;
	padding-right: 2rem;
}

#reportedButton {
	margin-left:auto;
}



/*---------------------------------------------- Template bosstrap ---------------------------------------*/

/* ------------------------ Menu --------------------------*/

/* Add the menu links' caracteristics to the menu texts */

#nav ul.links li p {
					-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					display: block;
					font-size: 0.8rem;
					outline: none;
					padding: 0 2rem;
				}

#nav ul.links li.active p {
						color: #1e252d;
					}

/* -------------- Chapters navigation ---------------------*/

#chaptersNavigationSpace
{
	width:100% !important;
}

#chaptersNavigation
{
	display:flex;
	flex-wrap: wrap;
	justify-content: right;
	margin-bottom:0;
}

#chaptersNavigation li
{
	width:auto !important;
}

#chaptersNavigation li, #chaptersNavigation p
{
	padding-top: 1rem !important;
	padding-right:0;
}

#chaptersNavigation a
{
	color:#FFFFFF !important;
	background:#909498;
	box-shadow:none !important;
	padding:1px 20px 1px 20px !important;
	transition:0.6s;
}

#chaptersNavigation a:hover
{
	color: #18bfef !important;
	background: #FFFFFF !important;
}

#chaptersNavigation .active a
{
	pointer-events: none;
	color:#909498 !important;
	background: #FFFFFF !important;
}

/* ------ Button Read the story fom the beginning ---------*/

#buttonReadBeginningSpace {
	display: flex; 
  	flex-direction: column; 
  	justify-content: center; 
}

#buttonReadBeginning {
	text-align:center;
}

.posts .button.special
{
	background: #909498;
}

/* ---------------------- Footer -------------------------*/	

#footer {
	display: block !important;
}

#footerTitle {
	padding-top: 2.5rem;
	margin-bottom:0rem;
	text-align:center;
}	

#administrationAccess {
	text-align:right;
	padding-right:2rem;
	padding-bottom: 1rem;
}

#copyright {
	font-size: 15px !important;
	color: #BBD2E1 !important;
}			




@media screen and (max-width:980px)
{
	#footer p 
	{
		text-align:center;
		margin-bottom:1rem;
	}
}

@media screen and (max-width:500px)
{
	.logo 
	{
		border:none !important;
	}
}